@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?43214497');
  src: url('../font/fontello.eot?43214497#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?43214497') format('woff2'),
       url('../font/fontello.woff?43214497') format('woff'),
       url('../font/fontello.ttf?43214497') format('truetype'),
       url('../font/fontello.svg?43214497#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;


  line-height: 1em;


  margin-left: .2em;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-trash:before { content: '\e800'; font-size: 25px;}
.icon-cancel:before { content: '\e801'; font-size: 25px;}
.icon-divide:before { content: '\e803'; font-size: 25px;}
.icon-left:before { content: '\e804'; font-size: 25px;}
.icon-sun:before { content: '\e806'; font-size: 25px;}
.icon-moon-inv:before { content: '\e807'; font-size: 25px;}
.icon-math:before { content: '\f01a'; font-size: 25px;}
.icon-history:before { content: '\f1da'; font-size: 25px;}
