article{
  display: flex;
  justify-content: center;
}

#wyswietlacz {
  width: 500px;
  height: 12.5%;
  margin: 5% 4.5% 0 4.5%;
  border-radius: 13px;
  font-size: 400%;
  padding-top: 4%;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  user-select: text;
  backdrop-filter: blur(30px);
}

#przyciski {
  width: 490px;
  margin-top: 150px;
  height: 570px;
  position: absolute;
  padding-left: 6%;
}

.przycisk {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: left;
  margin: 6px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 0.2s ease;
}

#pierwiastek .otwarcie,
#mnozenie,
#dzielenie {
  font-size: 0 !important;
}

.przycisk:hover {
  transform: scale(0.95);
  font-size: 185%;
}

/* =================== JASNY MOTYW ===================== */

.jasny #wyswietlacz {
  border: 4px solid #e93b3b;
}

.jasny .przycisk {
  background: linear-gradient(#d982ec1e, #d367e12b);
  backdrop-filter: blur(30px);
  border: 1px solid rgb(221, 83, 42);
}

.jasny .przycisk--spec {
  background: linear-gradient(#ef171700, #e3111100);
}

.jasny .przycisk--op {
  background: linear-gradient(#d513138b, #ce23236f);
}

/* =================== CIEMNY MOTYW ==================== */

.ciemny #wyswietlacz {
  border: 4px solid rgba(11, 3, 153, 0.537);
}

.ciemny .przycisk {
  background: linear-gradient(rgba(221, 17, 173, 0.521),
      rgba(169, 15, 153, 0.711));
  backdrop-filter: blur(30px);
  border: 1px solid rgb(204, 75, 236);
}

.ciemny .przycisk--spec {
  background: linear-gradient(#6c23bfa3, #2f52d1bd);
}

.ciemny .przycisk--op {
  background: linear-gradient(rgba(255, 0, 55, 0.516),
      rgba(255, 0, 111, 0.384));
}
