h1 {
    text-align: center;
    margin: 40px 0 55px 0;
}

.pole-wejsciowe {
    position: relative;
    display: inline-block;
    width: 400px;
    margin-bottom: 90px;
}

#content {
    display: inline-block;
    height: 550px;
    width: 500px;
    text-align: center;
}

/* ================== JASNY MOTYW ======================= */

.jasny input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    font-size: 30px;
    color: white;
    border-bottom: 4px solid rgb(255, 180, 180);
    padding: 5px 0;
    text-align: left;
}

.jasny input::placeholder {
    color: rgb(255, 180, 180);
    font-style: italic;
}

.jasny .pole-wejsciowe::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    background-color: rgb(250, 92, 29);
    transition: width 0.4s ease;
}

.jasny .pole-wejsciowe:focus-within::after {
    width: 100%;
}

/* ================== CIEMNY MOTYW ======================= */

.ciemny input {
    border-bottom: 4px solid purple;
}

.ciemny input::placeholder {
    color: purple;
}

.ciemny .pole-wejsciowe::after {
    background-color: rgb(212, 35, 165);
}
