
.icon-squares:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-divide:before { content: '\e803'; } /* '' */
.icon-left:before { content: '\e804'; } /* '' */
.icon-right:before { content: '\e805'; } /* '' */
.icon-sun:before { content: '\e806'; } /* '' */
.icon-moon-inv:before { content: '\e807'; } /* '' */
.icon-math:before { content: '\f01a'; } /* '' */
